<app-admin-header></app-admin-header>
<div class="container">
    <br />
    <h1 class="text-center mb-4">Available Transactions</h1>
    <br />

    <!-- Filter and Search Section -->
    <div class="row mb-4">
        <div class="col-md-4">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Filter by Customer First Name" 
                [(ngModel)]="customerName" 
                (ngModelChange)="filterByCustomerName($event)"
            />
        </div>

        <div class="col-md-4">
            <select 
                class="form-control" 
                [(ngModel)]="filterType" 
                (change)="filterByType()"
            >
                <option value="" selected>Select Transaction Type</option>
                <option value="successful">Successful</option>
                <option value="failed">Failed</option>
            </select>
        </div>

        <!-- Clear Filters Button -->
        <div class="col-md-4 d-flex align-items-end">
            <button class="btn btn-secondary" (click)="clearFilters()">Clear Filters</button>
        </div>
    </div>

    <!-- Transactions Table -->
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Transaction Id</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Transaction Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Transaction Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td>{{ transaction.transactionId }}</td>
                        <td class="customer-name">{{ transaction.customer.firstName }} ,{{ transaction.customer.lastName }}</td>
                        <td>{{ transaction.transactionDate }}</td>
                        <td class="amount" style="color:green">{{ transaction.amount | currency:"INR"}}</td>
                        <td style="text-align: center;">{{ transaction.transactionStatus }}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Pagination Controls -->
            <div class="pagination-container">
                <pagination-controls (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next" [maxSize]="5" class="pagination"></pagination-controls>
            </div>
        </div>
    </div>
</div>
