<!-- <div *ngIf="categoryId">
    <h1>Category Details for ID: {{ categoryId }}</h1>
    
  </div>
  -->
  

<!-- 
<div class="container">


    <div class="card" style="width: 94%;" >
        <div class="row g-4">
          <div class="col-md-3" >
              
            </div>
            <div class="col-md-9">
                <div class="card-body">
              <h4 class="card-title">Pet Details</h4>
              <h3>{{category.name}}</h3>
              
             
                
            </div>
        </div>
    </div>
</div> -->

