<app-admin-header></app-admin-header>
<div class="container">
    <br />
    <h1 class="text-center mb-4">Available Customers</h1>
    <br />
    <div class="row">
        <div class="col">
            
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-start mb-4">
                <div class="mb-2 mb-md-0 me-md-3">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Search by first name" 
                        [(ngModel)]="firstName" 
                        (ngModelChange)="searchByName()" 
                    />
                </div>
                <div class="mb-2 mb-md-0 me-md-3">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Search by last name" 
                        [(ngModel)]="lastName" 
                        (ngModelChange)="searchByName()" 
                    />
                </div>
                <div class="mb-2 mb-md-0 me-md-3">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Filter by city" 
                        [(ngModel)]="city" 
                        (ngModelChange)="filterByCity($event)" 
                    />
                </div>
                <div class="mb-2 mb-md-0 me-md-3">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Filter by state" 
                        [(ngModel)]="state" 
                        (ngModelChange)="filterByState($event)" 
                    />
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-secondary" (click)="clearFilters()">Clear</button>
                </div>
            </div>

           
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Customer Id</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">City</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td>{{customer.customerId}}</td>
                        <td class="customer-name">{{customer.firstName}}, {{customer.lastName}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.phoneNumber}}</td>
                        <td>{{customer.address.city}}, {{customer.address.state}}</td>
                        <td>
                            <button class="btn btn-warning" [routerLink]="['/customerFormUpdate', customer.customerId]" routerLinkActive="router-link-active">
                                <i class="bi bi-pencil-square" ></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
           
            <div class="pagination-container">
                <pagination-controls (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next" [maxSize]="5" class="pagination"></pagination-controls>
            </div>
        </div>
    </div>
</div>
