<!-- <app-pet-details></app-pet-details> -->
<!-- <app-pet-cards></app-pet-cards> -->

<!-- <app-access-page></app-access-page> -->




<router-outlet></router-outlet>

<!-- <app-cart></app-cart> -->

<!-- <app-pet-categories></app-pet-categories> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-pets_Form></app-pets_Form>
<app-customer_Form></app-customer_Form>
<app-supplier_Form></app-supplier_Form> -->

<!-- <app-supplier></app-supplier>
<app-customer></app-customer> -->
<!-- <app-pets></app-pets> -->
<!-- \ -->
<!-- <app-petfood></app-petfood> -->