.card-img {
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
}
  
  .card {
    margin: 20px;
    height:10rem;
    border: none; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease; 
  }
  

  .card-title {
    text-align: center;
    /* margin: 15px 0;  */
    font-weight: 600;
    padding-top: 3.5rem;

  }
  

  .card-img-overlay {
    padding: 15px;
  }
  

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
  }

  .gradient-overlay {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3)0%, rgba(0, 0, 0, 0) 100%);
  }
  