<img src="
https://www.zigly.com/media/wysiwyg/Desktop-bottom-banner.png"
alt="" width="1200px" height="90px">
<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- EXPERIENCE Section -->
      <div class="col-md-4">
        <h5>Experience Pet Shop App on Mobile </h5>
        <a href="#" class="d-inline-block">
          <img src="https://www.zigly.com/media/wysiwyg/Web_footer_placement.png" alt="Google Play" class="img-fluid app-icon">
        </a>
        <a href="#" class="d-inline-block ml-2">
          <img src="https://www.zigly.com/media/wysiwyg/appstore.png" alt="App Store" class="img-fluid app-icon">
        </a>
      </div>
 
      <!-- FOLLOW US Section -->
      <div class="col-md-4 text-center">
        <h5>Follow Us</h5>
        <a href="#" class="text-white mx-2" aria-label="Instagram">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="#" class="text-white mx-2" aria-label="Facebook">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <a href="#" class="text-white mx-2" aria-label="YouTube">
          <i class="fab fa-youtube fa-lg"></i>
        </a>
        <a href="#" class="text-white mx-2" aria-label="Twitter">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="#" class="text-white mx-2" aria-label="LinkedIn">
          <i class="fab fa-linkedin-in fa-lg"></i>
        </a>
      </div>
 
      <!-- HOME BRANCH Location Section -->
      <div class="col-md-4 text-right">
        <h5>Home Branch</h5>
        <p>Tower 1, 10th to 11th floor, , M/s. Roy Builders LLP- Co-Developer, M/s Laxmi Infobahn Pvt.Ltd., , IT/ITES SEZ, Sy No-107-P, , Kokapet Village, Gandipet Mandal, Rangareddy, 500075.</p>
      </div>
    </div>
 
    <div class="row mt-3">
      <!-- Sign Up for Our Newsletter Section -->
      <div class="col-md-4">
        <div class="newsletter-signup">
          <h5>Sign Up for Our Newsletter</h5>
          <form action="#" method="post">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email">
              <div class="input-group-append">
                <button type="submit" class="btn btn-light">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
 
      <!-- Copyright Notice Section -->
      <div class="col-md-4 text-center"><br><br><br><br><br>
 
        <p class="mb-0">© 2024 PetShop. All Rights Reserved.</p>
      </div>
 
      <!-- GET IN TOUCH Section -->
      <div class="col-md-4 text-right">
        <h5>Get in Touch</h5>
        <a href="tel:+91 9999222233" class="d-block text-white">
          <i class="fas fa-phone"></i> +91 9999222233
        </a>
        <a href="mailto:asdfghjk@gmail.com" class="d-block text-white">
          <i class="fas fa-envelope"></i> <span class="ml">petshop&#64;gmail.com</span>
        </a>
      </div>
    </div>
  </div>
</footer>